<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="https://www.typinks.com/images/favicon.jpg">
  {{ $style := resources.Get "scss/global.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink | absURL }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  {{ partial "seo/print.html" . }}
  <style>
    .fade,
    img {
      transition: .5s
    }

    img {
      opacity: 0
    }

    .fade {
      opacity: 1
    }
  </style>
</head>