{{ define "main" }}

<section class="section narrow">

    {{ partial "article/hero.html" . }}

    {{ partial "article/progress" . }}

    <article  id="articleContent" class="post-content" style="position:relative;">
        {{ .Content }}
    </article>

    <!-- Custom JavaScript files set in YAML front matter -->
    {% for js in page.customjs %}
        <script type="text/javascript" src="{{ "/assets/js/" | prepend: site.baseurl | append: js }}"></script>
    {% endfor %}

    {{ partial "article/next.html" . }}
</section>

{{ $script := resources.Get "js/progressBar.js" }}
 <script src="{{ $script.RelPermalink }}"></script>
{{ end }}
