<html>

{{ partial "head/head.html" . }}

<body class="line-numbers">

    {{ $script := resources.Get "js/initColors.js"}}
    <script src="{{ $script.RelPermalink | absURL }}"></script>

    <div class="layout-styled">

        {{ partial "header.html" . }}

        {{ block "main" . }}
        
        {{ end }}
        
        {{ partial "footer.html" . }}

    </div>

    {{ $script := resources.Get "js/prism.js" }}
    <script src="{{ $script.RelPermalink | absURL }}"></script>
    <script defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6952461738823588" crossorigin="anonymous" type="text/javascript"></script>
</body>

</html>