.typinks_footer {
  border-top-style: double;
  border-width: 2px;
  padding-top: 25px;
}

/* logo */

#logo-desktop > svg > g,
#logo-mobile > svg > g {
  fill: var(--primary);
}

p > img {
  max-width: 680px;
}
/*DESKTOP*/
@media screen and (max-width: 1070px) {
  p > img {
    max-width: 507px;
  }
}

/*TABLET*/
@media screen and (max-width: 735px) {
  p > img {
    max-width: 85vw;
    margin: 0 auto 25px;
  }
}

/* PAGINATION */
.pagination-class {
  overflow-x: auto;
}

li:not(.page-item) {
  overflow: auto;
}

::selection {
  background: var(--primary);
  color: rgb(5, 165, 85);
}