    <div class="bio-container">
        {{ range site.Taxonomies.authors }}
            {{ with .Page }}
                {{ if .Params.featured }}
                    <a href="{{ .RelPermalink | absURL  }}" class="bio-link" aria-label="author bio">
                        {{ with .Params.avatar }}
                            <div class="bio-avatar">
                                <div class="bio-avatar-inner">
                                    <img class="author-avatar" src="{{ .  | absURL }}" alt="author image"/>
                                </div>
                            </div>
                        {{ end }}
                        {{ with .Params.bio }}
                            <p class="bio-text">{{ . }}</p>
                        {{ end }}
                    </a>
                {{ end }}
            {{ end }}
        {{ end }}
    </div>