<Section class="section">
  <div class="nav-container">
    <a class="logo-link" href="/" aria-label="Typinks">
      {{ partial "icons/ui/logo.html" . }}
      <span class="header-hidden">Navigate back to the homepage</span>
    </a>
    <div class="nav-controls">
      <button id="themeColorButton" class="icon-wrapper" aria-label="theme toggler"> 
        <div id="sunRays" class="sun-rays"></div>
        <div id="moonOrSun" class="moon-or-sun"></div>
        <div id="moonMask" class="moon-mask"></div>
      </button>
    </div>
</div>
</Section>

{{ $script := resources.Get "js/toggleLogos.js" | minify }}
<script defer src="{{ $script.RelPermalink  | absURL }}"></script>

{{ $script := resources.Get "js/toggleColors.js" | minify }}
<script defer src="{{ $script.RelPermalink  | absURL }}"></script>