<div class="typinks_footer">
    <p>
        <i>
            Be social! Let’s get connected online. Follow us on <a
                href="https://www.instagram.com/typinks/" aria-label="instagram">Instagram</a> and
            <a href="https://twitter.com/typinks_blog" aria-label="twitter">Twitter</a>. Read our other articles on our
            <a href="https://www.typinks.com/" aria-label="blog">blog</a>. You can also publish articles with typinks and earn 70% of ad
            revenue for your article. For more details email at <a
                href="mailto:christo@typinks.com" aria-label="mail">christo@typinks.com</a>
        </i>
    </p>
</div>