<div class="typinks_footer">
    <p>
        Be social! Let’s get connected online. Follow us on <a href="https://www.instagram.com/typinks/">Instagram</a> and
        <a href="https://www.facebook.com/Typinks-100225822086682">Facebook</a>. Read our other articles on our
        <a href="https://www.typinks.com/">blog</a>. You can also publish articles with typinks and earn 70% of ad revenue for your article. For more details email at <a href="mailto:christo@typinks.com">christo@typinks.com</a>
    </p>
</div>